<div class="container">
	<div class="row">

    <div class="actions">
        <%= link_to 'New User', new_user_path, :class => ["btn","primary"] %>
    </div>

    <table id="user-table" class="zebra-striped">
      <tr>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

