<div class="container">
	<div class="row">	
	
		<h2>Forgot your password?</h2>
		
		<%= devise_error_messages!, :class => "alert-message error" %>
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		<fieldset>

			<div class="clearfix">
				<%= f.label :email %>
				<div class="input">
					<%= f.email_field :email %>
				</div>
			</div>

			<div class="clearfix">
				<div class="input">
				  <%= f.submit "Send password reset", :class => "btn large primary"  %>
				</div>
			</div>

			</fieldset>
		<% end %>
		
	</div>
</div>
